@import "/src/styles/variables.module.scss";

.historyItem {
  margin-bottom: 0.6rem;
  font-size: 0.9rem;
  color: darken($color: $color-primary, $amount: 15%);

  &:first-child {
    margin-top: 1rem;
  }

  .historyMove {
    cursor: pointer;
    transition: color 0.3s ease-in-out;

    &.active {
      color: $color-accent;
    }
  }
}
