@import "./variables.scss";

html {
  margin: 0;
  font-family: "VictorMono", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-weight: $font-weight;
  font-size: $font-size;
  color: $color-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  color: $color-primary;
  font-weight: $font-weight;
  font-size: $font-size;
  cursor: pointer;
}

a {
  text-decoration: none;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  color: $color-primary;
  font-weight: $font-weight;
  font-size: $font-size;
  cursor: pointer;
}

.simplebar-scrollbar::before {
  background-color: $color-primary;
}

[data-simplebar]:focus-visible,
.simplebar-wrapper:focus-visible,
.simplebar-mask:focus-visible,
.simplebar-offset:focus-visible,
.simplebar-content-wrapper:focus-visible,
.simplebar-content:focus-visible,
.simplebar-placeholder:focus-visible {
  outline: none !important;
}

.textBig {
  font-size: 1.4rem;
}

.textSmall {
  font-size: 0.8rem;
}

.textBold {
  font-weight: bold;
}

.textSecondary {
  color: darken($color: $color-primary, $amount: 15%);
}

.textAccent {
  color: $color-accent;
}

.textSuccess {
  color: $color-success;
}

.title {
  margin-left: 1rem;
}
