$color-background-1: #0C0813;
$color-background-2: #373855;
$color-primary: #FFFFFF;
$color-secondary: #3D4AEB;
$color-secondary-2: #185875;
$color-accent: #B15653;

$font-size: 20px;
$font-weight: 600;

$board-width: 600px;

