@import 'src/styles/variables.module.scss';

.menuContainer {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: $color-background-1;
  box-shadow: 10px 0px 15px 15px $color-background-1;
  height: 100%;
  
  .logoShadow {
    margin-right: -15px;
    position: relative;
    
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: inset 0 0 10px 10px $color-background-1;
      overflow: hidden;
    }

    .logo {
      display: block;
      height: 100%;
      width: 100%;
      position: relative;
      z-index: 0;
    }
  }
  
  .menuInner {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .menuBtn {
      margin-top: -1px;
      padding: 20px 25px;
      font-size: 1.2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: lighten($color: $color-background-2, $amount: 10%);
      box-shadow: 10px 0 12px 12px lighten($color: $color-background-2, $amount: 10%);
      clip-path: inset(-1px -50px 1px);
      font-weight: 700;
      transition: background .2s ease-in-out, color .2s ease-in-out, box-shadow .2s ease-in-out;
    
      &:hover {
        background: $color-primary;
        color: lighten($color: $color-background-2, $amount: 10%);
        box-shadow: 10px 0 15px 15px $color-primary;
      }
    
      &:active {
        background: lighten($color: $color-background-2, $amount: 55%);
        color: lighten($color: $color-background-2, $amount: 10%);
        box-shadow: 10px 0 15px 15px lighten($color: $color-background-2, $amount: 55%);
      }

      .notifications {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        background-color: $color-accent;
        border-radius: 100%;
        color: $color-primary;
        width: 30px;
        height: 30px;
      }
    }

    .activeBtn {
      background: lighten($color: $color-background-2, $amount: 55%);
      color: lighten($color: $color-background-2, $amount: 10%);
      box-shadow: 10px 0 15px 15px lighten($color: $color-background-2, $amount: 55%);
    }
  }
}