.pageWrapper {
  display: flex;
  flex-direction: column;

  .cardWrapper {
    margin-bottom: 1.8rem;
    
    .cardContainer {
      display: flex;
      flex-direction: column;
    
      .cardItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.5rem;
      }
    }
  }

  .historyWrapper {
    margin-top: 1.5rem;
  }

}