.pageWrapper {
  display: inline;

  .cardContainer {
    display: flex;
    flex-direction: column;
  
    .cardItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1.5rem;
    }
  }
}