.historyCardRow {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:last-child){
    margin-bottom: 1rem;
  }

  .button {
    margin-right: 1rem;
  }

  .historyCardItem {
    flex: .33 1 33%;

    &:last-child {
      text-align: end;
    }
  }
}